spring:
  application:
    name: ticketing-api

  profiles:
    active: local

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  # Actuator 설정
  management:
    endpoints:
      web:
        exposure:
          include: health,prometheus,metrics,info
        base-path: /actuator
    endpoint:
        health:
            show-details: always
        prometheus:
            enabled: true
    metrics:
      export:
        prometheus:
          enabled: true
      tags:
        application: ${spring.application.name}

# Logging
logging:
  level:
    root: INFO
    com.ticketing: INFO
    org.springframework.kafka: WARN
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

# Swagger
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method