spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/ticketing
    username: admin
    password: root

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  data:
    redis:
#      host: localhost
      host: 127.0.0.1
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8080
